<div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">

  <div *ngFor="let miembro of _is.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img [src]="miembro.url" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2"> {{ miembro.nombre }}</h5>
    <p class="ae-u-bolder au-mb-3"> {{ miembro.subtitulo }}</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4"> {{ miembro.frase }}</p>

    <a *ngIf="miembro.nombre == 'Diego Perez'" target="_blank" href="https://instagram.com/{{ miembro.twitter}}" class="ae-u-bolder au-underline"> @{{ miembro.twitter }}</a>

    <a *ngIf="miembro.nombre != 'Diego Perez'" target="_blank" href="https://twitter.com/{{ miembro.twitter}}" class="ae-u-bolder au-underline"> {{ miembro.twitter }}</a>
  </div>




</div>
<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">Acerca de Ecomentes</h4>
    <p align="justify"> “Ecomentes”, es una aplicación móvil desarrollada para dispositivos móviles con sistema operativo Android y ahora también iOs, que tiene como objetivo difundir proyectos ecológicos que puedan llevar a cabo los usuarios con un grupo de amigos, familiares o autoridades de su localidad.</p>
  </div>
</div>

<p class="au-flex au-pt-4 group-buttons"><a target="_blank" href="https://play.google.com/store/apps/details?id=lunainc.org.ecomentes" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Descarga nuestra aplicación<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span></a></p>
